// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centering_item {
    margin:  0 auto;            /* 中央寄せ */
}

.footer p {
  font-size: 1rem;
  color: #808080;
  text-align: center;
  vertical-align: middle;
}
